@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
body {
    /* background-image: url('../public/image/ID-Front\ 1.png');
    background-color: white;
    background-repeat: no-repeat,no-repeat;
    background-position: center;
    width: 331px;
    height: 603px;
    /* b/ackground-size: cover; */
    /* position: relative;  */


}

.bgImg {
    background-image: url('../public/image/ID-Front\ 1.png');
    background-color: white;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 603px;
    justify-content: center;
   
    /* background-attachment: fixed; */
}
.bgImgback {
    background-image: url('../public/image/ID-Back\ 1.png');
    background-color: white;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 603px;
    justify-content: center;
   
    /* background-attachment: fixed; */
}
.bgImghos{
    background-image: url('../public/image/PerfectDay_head\ 1.png');
    background-color: #30485E;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    position: absolute;
    width: 359px;
    height: 204px;
    justify-content: center;
   
    /* background-attachment: fixed; */
}

.mophlogo {
    /* image: url('../public/image/MOPH\ 4.png'); */
    position: relative;
    margin-left:15%;
    margin-top: 160px;
    padding: 10px;
    width: 47px;
    height: 48px;
}

.textdescrip {
    text-align: center;
    position: relative;
    /* top: 70%; */
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.text-dep {
    text-align: center;
    position: relative;
    /* top: 220px; */
    left: 50%;
    /* padding-top: 900px; */
    transform: translate(-50%, -50%);
    color: darkgray;
}
.fontKanit{
    font-family: fkanit;
}